{% extends "blog/base.html" %}
{% block content %}
{% for file in Files %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ file.author }}</a>
        <small class="text-muted">{{ file.date_posted | date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'file-detail' file.id %}">{{ file.title }}</a></h2>
      <p class="article-content">{{ file.summary }}</p>
    </div>
  </article>
{% endfor %}
{% endblock %}
